*{
    box-sizing: border-box;
    margin: 0;
}
/* Default profile */
  .default-profiles img{
    min-width: 300px;
    border-radius: 10px;
  }
.default-profiles{
    width: fit-content;
    /* max-height: 300px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; */
    /* gap: 15px; */
  }